[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openpyxl = "*"
flask-sslify = "*"
psycopg2 = "*"
gunicorn = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
